.search-field {
	font-family: "Gill Sans";
	height: 33px;
	margin-left: 8px;
	font-size: 19px;
}

.add-icon {
	height: 21px;
	color: white;
}

.add-meeting {
	font-family: "Gill Sans";
	font-size: 19px;
	color: white;
	display: inline-block;
	background: #4D6D9A;
	outline: 0px;
	border-style: solid;
	border-color: #4D6D9A;
	float: right;
	margin-right: 13px;
}

thead {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffff;
	border-top: solid #4D6D9A;
	border-bottom: solid #4D6D9A;
}

td {
	font-family: "Gill Sans";
	padding: 30px;
}

th {
	float: left;
	font-family: "Gill Sans";
	font-weight: normal;
	font-size: 19px;
	display: block;
	color: #4D6D9A;
	padding: 29px 29px;
	text-decoration: none;
}

tr:nth-child(odd) {
	background-color: #e1dede;
	font-family: "Gill Sans";
}

.meeting-info {
	margin-bottom: 29px;
}

.meeting-view   td {
	font-size: 20px;
	text-align: center;
	padding-bottom: 28px;
}

.my-button {
	border: none;
	width: 100px;
	height: 100px;
	background-color: transparent;
}

.meeting_info_members {
	font-family: "Gill Sans";
}

.meeting_view_header th {
	background: white;
}

.flip_img {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
