<div class="meeting-info">
	<input type="Text" placeholder="SEARCH" class="search-field" />
	
	<button class="add-meeting ">
	<img src="./assets/add.png" class="add-icon">
	Add Meeting
	</button>
	
</div>
<ul  class="Meeting_view_header">
	<li class="col-lg-2"> MEETING TITLE</li>
	<li class="col-lg-2"> ORGANIZER</li>
	<li class="col-lg-2"> DATE </li>
	<li class="col-lg-2"> LOCATION</li>
	<li class="col-lg-2"> STATUS</li>
</ul>
<div>
	<table class="Meeting_View">
		<tr *ngFor=" let meeting of meetings " class="row Meeting_record"  >
			<td class="col-lg-2 ">
				{{meeting?.meetingTitle}}
			</td>
			<td class="col-lg-2">
				{{meeting?.organizer}}
			</td>
			<td class="col-lg-2">
				{{meeting?.date}}
			</td>
			<td class="col-lg-2">
				{{meeting?.status}}
			</td>
			<td class="col-lg-2">
				{{meeting?.location}}
			</td>
			<td class="col-lg-2"><a routerLink="/meeting-members" routerLinkActive="active">
				<img src="./assets/drop-down.png" class="drop-down">
			</a></td>
		</tr>
	</table>
</div>