<div class="meeting-info">
	<input type="Text" placeholder="SEARCH" class="search-field" />
	
	<button class="add-meeting ">
	<img src="./assets/add.png" class="add-icon">
	Add Meeting
	</button>
	
</div>
<ul >
	<li> MEETING TITLE</li>
	<li> ORGANIZER</li>
	<li> DATE </li>
	<li> LOCATION</li>
	<li> STATUS</li>
	<li> <a routerLink="/meeting-members" routerLinkActive="active">
		<img src="./assets/drop-down.png" class="drop-down">
	</a></li>
</ul>
<div>
	<table>
		<tr *ngFor=" let meeting of meetings "  >
			
			
			<td>
				{{meeting?.organizer}}
			</td>


			<td>
				{{meeting?.meetingTitle}}
			</td>


			<td>
				{{meeting?.date}}
			</td>

			<td>
				{{meeting?.status}}
			</td>

			<td>
				{{meeting?.location}}
			</td>

			<td><a routerLink="/meeting-members" routerLinkActive="active">
		<img src="./assets/drop-down.png" class="drop-down">
	</a></td>
		</tr>
	</table>
</div>
<!-- <div>
	<ul>
		<li *ngFor=" let meeting of meetings">
			{{meeting?.organizer}}
		</li>
		<li
			*ngFor=" let meeting of meetings">
			{{meeting?.meetingTitle}}
		</li>
		
	</ul>
</div> -->