.search-field {
	font-family: "Gill Sans";
	height: 33px;
	margin-left: 26px;
}

.add-icon {
	height: 21px;
	color: white;
}

.add-meeting {
	font-family: "Gill Sans";
	font-size: 19px;
	color: white;
	display: inline-block;
	background: #4D6D9A;
	outline: 0px;
	border-style: solid;
	border-color: #4D6D9A;
	float: right;
	margin-right: 13px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffff;
	border-top: solid #4D6D9A;
	border-bottom: solid #4D6D9A;
}

li {
	float: left;
	font-size: 20px;
	display: block;
	color: #4D6D9A;
	text-align: center;
	padding: 25px 25px;
	text-decoration: none;
}

.drop-down {
	height: 28px;
	margin-bottom: 1px;
}

.meeting-info {
	margin-bottom: 29px;
}

.Meeting_View   td {
	font-size: 19px;
	text-align: center;
	padding-bottom: 28px;


}

tr:nth-child(odd) {
	background-color: #e1dede;
}
