
<!-- <head>
  <link rel="stylesheet" href="meeting-model.component.css">
</head> -->

 
 <div>

 <h1>
Meeting Agenda
</h1>

<div class="meeting_modal">

<div>
	<h2>Meeting Information:</h2>
	<p>
      
      Insert meeting data here. <!-- // Interpolated Data from JSON File  -->
     
	</p> 

</div>

<div>
	<h2>Objectives:</h2>
	<p>
      
      Insert objectives here. <!-- // Interpolated Data from JSON File  -->
     
	</p> 

</div>

<div>
	<h2>Owner:</h2>
	<p>
      
      Insert meeting owner. <!-- // Interpolated Data from JSON File  -->
     
	</p> 

</div>

<button>Set Details</button>

</div>


</div>
