<div class="container">
	<h2 class="Title"> New Meeting </h2>
	<form [formGroup]="formgroup">
		<div class="form-container">
			<div class="row">
				<label> Title
					<input type="text" formControlName="meeting_title"  class="Meeting_Title">
				</label>
				<label> Date
					<input type="date" >
				</label>
			</div>
			
			<label class="Members_List">
				
				Members
			</label>
			<div class="Select_Members">
				
			</div>
			
		</div>
		<div>
			<label>
				Objectives
			</label>
			<input #content  type="text">
			<span class="Add_Obj" (click)="Add_Clear(content)">
				Add
			</span>
			<div>
				<ul *ngFor=" let meetingObjective of meetingObjectives " >
					<li>
						{{meetingObjective}}
					</li>
				</ul>
			</div>
		</div>
	</form>
	<button class="Meeting_Details" (click)="open(popup)">
	Set Meeting
	</button>
</div>


<!-- this is the Popup -->
<!-- <body> -->
	<ng-template #popup let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="Modal_Main_Title">Create New Meeting </h4>
	</div>
	<div class="Modal_Content">
		Your meeting has been saved.
	</div>
	<div class="modal-footer">
		<button type="button" class="button_close button_details" (click)="c('Close click')">
		Close</button>
		
	</div>
	</ng-template>
<!-- </body> -->
<!-- <ss-multiselect-dropdown >
				<div *ngFor= " let member of members" >
											<input type="checkbox" name="" >
											<span>
																					{{member.memberName}}
											</span>
				</div>
</ss-multiselect-dropdown> -->
<!-- <div *ngFor= " let member of members" >
								<input type="checkbox" name="" >
								<span>
																			{{member.memberName}}
								</span>
</div> -->