.Select_Members {
	height: 200px;
	overflow: hidden;

}

h2 {
	font-family: "Gill Sans";
	font-size: 27px;
	font-weight: normal;
	color: #4D6D9A;
	margin-left: 10px;
}

.modal.fade .modal-dialog{
	margin-top: 13%;
}
.Objectives{
font-family: "Gill Sans";
	color: #4D6D9A;
	font-weight: normal;
	padding-left: 3px;
	margin-left: 2px;
	font-size: 20px;
	margin-top: 30px;

}
.Title input{
font-size: 15px;
	color: black;
	font-family: "Gill Sans";
	height: auto;
	width: 162px;
     margin-left: 42px;

}
label {
	font-family: "Gill Sans";
	color: #4D6D9A;
	font-weight: normal;
	padding-left: 0px;
	margin-left: 25px;
	font-size: 20px;
}

.Meeting_Members {
	padding-left: 0px;
}

input {
	font-size: 15px;
	color: black;
	font-family: "Gill Sans";
	height: auto;
	width: 162px;
    margin-left: 9px;

}

ss-multiselect-dropdown {
	font-family: "Gill Sans";
}

form {
	padding-left: 0px;
	
}
.Meeting_Details {
	font-family: "Gill Sans";
	font-size: 19px;
	color: white;
	display: inline-block;
	background: #4D6D9A;
	outline: 0px;
	border-style: solid;
	border-color: #4D6D9A;
	float: right;
	margin-right: 13px;
	width: 118px;
}

.Add_Obj {
	cursor: pointer;
	color: #4D6D9A;
	font-family: "Gill Sans";
	background-color: white;
	border: 2px solid #4d6d9a;
	font-size: 17px;
	outline: 0px;
	text-align: center;
	height: 31px;
	margin-top: 5px;
	width: 70px;
    margin-left: 17px;
	
}
.modal-header {
	background-color: #4D6D9A;
}
.Modal_Main_Title {
	font-family: "Gill Sans";
	color: white;
	font-size: 25px;
}

.font {
	font-family: "Gill Sans";
}

.Drop_Down{
	
	    margin-left: 7px;
	    margin-top: 19px;
}
.button_close {
	background-color: white;
	border: 2px solid #4d6d9a;
	font-family: "Gill Sans";
	font-size: 17px;
	margin-left: 150px;
	margin-bottom: 20px;
}
.no-opacity {
	opacity: 1;
}
.Modal_Content {
	text-align: center;
	margin: 31px;
	font-size: 19px;
	font-family: "Gill Sans";
	}
.button_details {
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #4d6d9a;
	font-family: "Gill Sans";
	font-size: 17px;
	margin-bottom: 20px;

}

.Objectives_List{

	font-family: "Gill Sans";
	margin-left: 76px;
    margin-top: 5px;
}

 .dropdown-menu {
    display: block  !important ;
    overflow-y: scroll !important;
    max-height: 150px !important;
    scroll-behavior: smooth !important;
     height: 200px !important;
     margin-left: 95px;
}


.Date{

	width: 162px;
    margin-left: 9px;
}


.btn-default{
   overflow: hidden;
	width: 160px;
    margin-left: 95px;
    margin-bottom: 0px;
}

.dropdown-item input {
	width: 10px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.form-control{

	width: 28% !important;
    height: 29px !important;
}
