<td  colspan="6">
	<table class="Listed_Data">
		<thead>
			<tr>
				<th class="col-lg-4" colspan="4">
					Member Name
				</th>
				<th class="col-lg-4" colspan="4">
					Job Title
				</th>
				<th class="col-lg-4" colspan="4">
					Organization
				</th>
			</tr>
		</thead>
		<tbody>
			<tr  *ngFor=" let member of memberData"  >
				<td  class="Member_list_Style" class="col-lg-4" colspan="4">
					{{member.memberName}}
				</td>
				<td class="Member_list_Style" class="col-lg-4" colspan="4">
					{{member.jobTitle}}
				</td>
				<td class="Member_list_Style" class="col-lg-4" colspan="4">
					{{member.organization}}
				</td>
			</tr>
		</tbody>		
	</table>
</td>