<!-- <ul  class="Meeting_member_header">
	<li class="col-lg-2"> MEETING TITLE</li>
	<li class="col-lg-2"> ORGANIZER</li>
	<li class="col-lg-2"> DATE </li>
</ul>
<div>
	<table class="Meeting_member_View">
		<tr class="row Meeting_member_record"  >
			<td class="col-lg-2 col-lg-offset-2 ">
				
			</td>
			<td class="col-lg-2">
				
			</td>
			<td class="col-lg-2">
				
			</td>
		</tr>
	</table>
</div> -->

<td></td>
			<td colspan="4">
				<div id="collapseTwo" class="collapse in">
					- Details 1 <br /> - Details 2 <br /> - Details 3 <br />
				</div>
			</td>
			