a:hover {
	text-decoration: none !important;
}

a {
	color: black;
}

td {
	padding-left: 69px;
}

span {
	font-family: "Gill Sans";
	font-size: 15px;
	margin-left: 25px;
}

h4 {
	font-family: "Gill Sans";
	font-size: 25px;
	color: #4D6D9A;
}

h2 {
	font-family: "Gill Sans";
	font-size: 20px;
	font-weight: normal;
	color: #4D6D9A;
	margin-left: 10px;
}

.Drop_Down {
	height: 25px;
	margin-bottom: 1px;
	cursor: pointer;
}

.Meeting_Title {
	cursor: pointer;
}

.Flip_Img {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.Button_Details {
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #4d6d9a;
	font-family: "Gill Sans";
	font-size: 17px;
	margin-bottom: 20px;
}

.Button_Details:hover {
	background-color: #4d6d9a;
	color: white;
}

.Button_Close {
	background-color: white;
	border: 2px solid #4d6d9a;
	font-family: "Gill Sans";
	font-size: 17px;
	margin-left: 150px;
	margin-bottom: 20px;
}

.modal.fade .modal-dialog {
	margin-top: 13%;
}

.no-opacity {
	opacity: 1;
}

.opacity {
	opacity: 0 !important;
}

.Meeting_Attr {
	color: #4D6D9A;
}

.Modal_Members td {
	padding-left: 69px;
	font-family: "Gill Sans";
}

.Modal_Owner span {
	display: inline;
	padding-left: 44px;
	font-family: "Gill Sans";
}

.Modal_Header {
	background-color: #4D6D9A;
	height: 70px;
}

.Modal_Main_Title {
	color: white;
	height: 70px;
	margin-top: 0px;
	padding: 17px;
}

.font {
	font-family: "Gill Sans";
}
