.listed-data th {
	font-size: 18px;
	color: #4D6D9A;
	display: inline;
	text-align: center;
	padding-right: 0px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.listed-data {
	text-align: center;
	margin: 9px auto;
	width: 66%;
}

