a:hover {
	text-decoration: none !important;
}

a {
	color: black;
}

td {
	padding-left: 69px;
}

span {
	font-size: 15px;
	margin-left: 25px;
}

h4 {
	font-size: 25px;
	color: #4D6D9A;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	color: #4D6D9A;
	margin-left: 10px;
}

.model-font{
	font-family: "Gill Sans";
}

.drop-down {
	height: 25px;
	margin-bottom: 1px;
	cursor: pointer;
}

.meeting-title {
	cursor: pointer;
}

.flip-img {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.button-details {
	transition-duration: 0.4s;
	background-color: white;
	border: 2px solid #4d6d9a;
	font-size: 17px;
	margin-bottom: 20px;
}

.button-details:hover {
	background-color: #4d6d9a;
	color: white;
}

.button-close {
	background-color: white;
	border: 2px solid #4d6d9a;
	font-size: 17px;
	margin-left: 150px;
	margin-bottom: 20px;
}

.modal.fade .modal-dialog {
	margin-top: 13%;
}

.no-opacity {
	opacity: 1;
}

.opacity {
	opacity: 0 !important;
}

.meeting-attr {
	color: #4D6D9A;
}

.modal-members td {
	padding-left: 69px;
}

.modal-owner span {
	display: inline;
	padding-left: 44px;
}

.modal-header {
	background-color: #4D6D9A;
	height: 70px;
}

.modal-main-title {
	color: white;
	height: 70px;
	margin-top: 0px;
	padding: 17px;
}

.font {
	font-family: "Gill Sans";
}
