.Listed_Data th {
	font-size: 18px;
	color: #4D6D9A;
	display: inline;
	text-align: center;
	padding-right: 0px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.Listed_Data{
	text-align: center;
    margin: 9px auto;
    width: 66%;

}


.Member_list_Style {

    display: block;
	padding-right: 16%;
	padding-left: 0px;
	color: black;
}

.Member_list_Style   {

	
	padding-right: 11%;
    padding-left: 0px;
    margin-left: 20px;
    width: 360px;
	
}





