	<td class="col-lg-2 Meeting_Title">
	<a (click)="open(content)"> {{meeting?.meetingTitle}} </a>
</td>
<td class="col-lg-2">
	{{meeting?.organizer}}
</td>
<td class="col-lg-2">
	{{meeting?.date}}
</td>
<td class="col-lg-2">
	{{meeting?.location}}
</td>
<td class="col-lg-2">
	{{meeting?.status | statusPipe }}
</td>
<td>
	<a (click)="expandClicked()" >
		<img src="./assets/drop-down.png" class="drop-down"
		[ngClass]="{'flip_img' : meeting.expanded}">
	</a>
</td>
<body>
	<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="Modal_Main_Title">Meeting Agenda</h4>
		
	</div>
	<div>
		<div class="font">
			<h2>
			Meeting Information:
			</h2>
			
			<span class="Meeting_Attr">
				Title:
			</span>
			
			{{meeting.meetingTitle}}
			<br>
			<span class="Meeting_Attr">
				Date:
			</span>
			{{meeting.date}}
			<br>
			<span class="Meeting_Attr" >
				Location:
			</span>
			{{meeting.location}}
			<br>
			
			<tbody>
				<span class="Meeting_Attr">
					Members:
				</span>
				<tr class="Modal_Members" *ngFor=" let member of memberData ">
					<td>
						{{member.memberName}}
					</td>
				</tr>
			</tbody>
		</div>
		<div class="Modal_Objective">
			<h2>Objectives:</h2>
			<tbody>
				<tr class="Modal_Members" *ngFor=" let objective of meeting.objectives ">
					<td>
						{{objective.objectiveContent}}
					</td>
				</tr>
			</tbody>
		</div>
		<div class="Modal_Owner" class="font">
			<h2>Moderator:</h2> 
            
            <td>
			{{meeting.organizer}}
			</td>
			
			
			
			
			
			
		</div>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="button_close" (click)="c('Close click')">Close</button>
		<button routerLink="/meeting-tasks" routerLinkActive="active-link" type="button" class="button_details">Set Details</button>
	</div>
	</ng-template>
</body>