<div class="container">
	<h2> Task List </h2>
	<form [formGroup]="myform"  #ngFormName = "ngForm" >
		<div [hidden]=" myform.submitted">
			<div class=" form-group">
				<label for="name" class=" tasks">
					Task
				</label>
				<input #content
				id="name" class="form-control "
				formControlName="name" class="task_input" required>
				<div *ngIf=" name.invalid && ( name.dirty || name.touched)"
					class=" alert alert-danger">
					<div *ngIf=" name.errors.required">
						Meeting title is required.
					</div>
				</div>
				<label class="date">
					Due Date
					<input #date type="date">
				</label>
				<button class="add-task" [disabled]="(content.value==0)" (click)="addClear(content,date)"> Add </button>
				<ul *ngFor=" let meetingTask of meetingTasks ">
					<li >
						<div class="task-list">{{meetingTask.taskContent}}</div>
						<div class="task-date">{{meetingTask.date}}</div>
					</li>
				</ul>	
				<div>
					<label class="drop-down">
						Members
					</label>
					<div class="select">
						<ss-multiselect-dropdown class="Select_Members" [options]="myOptions" [(ngModel)]="optionsModel" [ngModelOptions]="{standalone: true}" class="MultiSelect">	
						</ss-multiselect-dropdown>
					</div>
					<br>
					<label class="comment">Comments</label>
					<br>
					<textarea class="comment-input"></textarea>
				</div>
			</div>
			<button class="task-details" (click)="open(popup)">Save</button>
			<ng-template #popup let-c="close" let-d="dismiss">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-main-title"> Task List </h4>
			</div>
			<div>
				Your tasks have been saved.
			</div>
			<div class="modal-footer">
				<button type="button" class="button-close" (click)="c('Close click')">Close</button>
			</div>
			</ng-template>
		</div>
	</form>
</div>