h2 {
  font-size: 27px;
  font-weight: normal;
  color: #4D6D9A;
  margin-left: 2px;
}

label {
  color: #4D6D9A;
  font-weight: normal;
  font-size: 20px;
}

input {
  font-size: 15px;
  color: black;
  height: auto;
}

form {
  padding-left: 0px;
}

li {
  margin-left: 30px;
  margin-top: 5px;
}

div {
  font-family: "Gill Sans";
}

.modal.fade .modal-dialog {
  margin-top: 13%;
}

.tasks {
  padding-left: 5px;
  margin-left: 0px;
  margin-top: 30px;
}

.task-input {
  font-size: 15px;
  color: black;
  height: auto;
  width: 162px;
  margin-left: 42px;
}

.select-members {
  height: 200px;
  overflow: hidden;
  padding-left: 6px;
}

.comment {
  padding-left: 0px;
  margin-left: 5px;
}

.comment-input {
  padding-left: 0px;
  margin-left: 5px;
  font-size: 15px;
  color: black;
  height: 150px;
  width: 400px;
}

.meeting-members {
  padding-left: 0px;
}

.task-details {
  font-size: 19px;
  color: white;
  display: inline-block;
  background: #4D6D9A;
  outline: 0px;
  border-style: solid;
  border-color: #4D6D9A;
  float: right;
  margin-right: 13px;
  width: 118px;
}

.add-task {
  cursor: pointer;
  color: #4D6D9A;
  background-color: white;
  border: 2px solid #4d6d9a;
  font-size: 17px;
  outline: 0px;
  text-align: center;
  height: 31px;
  margin-top: 5px;
  width: 70px;
  margin-left: 17px;
}

.modal-header {
  background-color: #4D6D9A;
}

.modal-main-title {
  color: white;
  font-size: 25px;
}

.drop-down {
  margin-left: 7px;
  margin-top: 19px;
}

.button-close {
  background-color: white;
  border: 2px solid #4d6d9a;
  font-size: 17px;
  margin-left: 150px;
  margin-bottom: 20px;
}

.no-opacity {
  opacity: 1;
}

.modal-content {
  text-align: center;
  margin: 31px;
  font-size: 19px;
}

.button_details {
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #4d6d9a;
  font-size: 17px;
  margin-bottom: 20px;
}

.task-list {
  margin-left: 25px;
  margin-top: 5px;
  text-transform: uppercase;
}

.task-date {
  margin-left: 25px;
  margin-top: 5px;
}

.dropdown-menu {
  display: block !important;
  overflow-y: scroll !important;
  max-height: 150px !important;
  scroll-behavior: smooth !important;
  height: 200px !important;
  margin-left: 95px;
}

.date {
  width: 162px;
  margin-left: 9px;
  display: unset;
  padding-left: 33px;
}

.btn-default {
  overflow: hidden;
  width: 160px;
  margin-left: 95px;
  margin-bottom: 0px;
}

.dropdown-item input {
  width: 10px;
}

.select {
  padding-left: 6px !important;
}

.input-task {
  text-transform: uppercase;
}
