th {
    font-size: 19px;
    display: block;
    color: #4D6D9A;
    padding: 29px 29px;
    text-decoration: none;
}

tr:nth-child(odd) {
    background-color: #e1dede;
}

table {
    font-family: "Gill Sans";
}

.meeting-view td {
    font-size: 20px;
    text-align: center;
    padding-bottom: 28px;
}

.meeting-view-header th {
    background: white;
    text-transform: uppercase;
}

.search-field {
    margin-bottom: 29px;
}

.meeting-view-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff;
    border-top: solid #4D6D9A;
    border-bottom: solid #4D6D9A;
}

.search-area {
    height: 33px;
    margin-left: 8px;
    font-size: 19px;
    margin-bottom: 17px;
    font-family: "Gill Sans";
}

.add-meeting-icon {
    height: 21px;
    color: white;
}

.add-new-meeting {
    font-size: 19px;
    color: white;
    display: inline-block;
    background: #4D6D9A;
    outline: 0px;
    border-style: solid;
    border-color: #4D6D9A;
    float: right;
    margin-right: 13px;
}
