<div class="search-area">
	<input type="Text" placeholder="Search" class="search-field" />
	<button routerLink="/add-new-meeting" class="add-new-meeting ">
	<img src="./assets/add.png" class="add-meeting-icon">
	Add Meeting
	</button>
</div>
<table class="table">
	<thead class="meeting-view-header">
		<tr>
			<th class="col-lg-2"> Meeeting Title </th>
			<th class="col-lg-2"> Organizer </th>
			<th class="col-lg-2"> Date </th>
			<th class="col-lg-2"> Location </th>
			<th class="col-lg-2"> Status </th>
			<th class="col-lg-2"> Team </th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let meeting of meetings">
		<tr app-meeting-list-item [meeting]="meeting" class="accordion-toggle"
			(expand)="toggleExpand($event)">
		</tr>
		<tr class="expand-members" app-meeting-list-item-detailed [meeting]="meeting" [hidden]="!meeting.expanded">
		</tr>
		</ng-container>
	</tbody>
</table>