<div class="Search_Area">
	<input type="Text" placeholder="Search" class="Search_Field" />
	<button routerLink="/add-new-meeting" class="Add_New_Meeting ">
	<img src="./assets/add.png" class="Add_Meeting_Icon">
	Add Meeting
	</button>
</div>
<table class="table">
	<thead class="Meeting_View_Header">
		<tr>
			<th class="col-lg-2"> MEETING TITLE </th>
			<th class="col-lg-2"> ORGANIZER</th>
			<th class="col-lg-2"> DATE </th>
			<th class="col-lg-2"> LOCATION</th>
			<th class="col-lg-2"> STATUS </th>
			<th class="col-lg-2"> TEAM</th>
		</tr>
	</thead>
	
	<tbody>
		<ng-container *ngFor="let meeting of meetings">
		<tr app-meeting-list-item [meeting]="meeting" class="Accordion_Toggle"
			(expand)="toggleExpand($event)">
		</tr>
		
		
		<tr class="Expand_Members" app-meeting-list-item-detailed [meeting]="meeting" [hidden]="!meeting.expanded">
		</tr>
		
		</ng-container>
	</tbody>
</table>